---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>
  
  <!-- Image Grid (ADDED by ME) -->
  <hr class="section-line">
  
  <div class="image-grid">
    <div class="image-item">
      <img src="{{ 'assets/img/gt.png' | gt }}" alt="Image 1" style="margin-top: -20px; transform: scale(0.70);">
      <div class="image-description" style="text-align: center; line-height: 0.3; margin-top: 0px; font-size: 14px;">
        <p> Georgia Tech </p>
        <p> Aug 2019 - Present </p>
      </div>
    </div>
    <div class="image-item">
      <img src="{{ 'assets/img/meta_ai.png' | meta_ai }}" alt="Image 1" style="margin-top: -5px; transform: scale(0.90);">
        <div class="image-description" style="text-align: center; line-height: 0.3; margin-top: 12px; font-size: 14px;">
          <p> FAIR at Meta AI</p>
          <p> Summer 2022</p>
        </div>
    </div>
    <div class="image-item">
      <img src="{{ 'assets/img/dolby.png' | dolby }}" alt="Image 1" style="margin-top: -11px; transform: scale(0.77);">
        <div class="image-description" style="text-align: center; line-height: 0.3; margin-top: -2px; font-size: 14px;">
          <p> Dolby Labs</p>
          <p> Summer 2024</p>
        </div>
    </div>
      <div class="image-item">
      <img src="{{ 'assets/img/trends.png' | trends }}" alt="Image 4" style="margin-top: 7px; transform: scale(0.90);">
        <div class="image-description" style="text-align: center; line-height: 0.3; margin-top: 18px; font-size: 14px;">
          <p> TReNDS Center</p>
          <p> Aug 2019 - Present</p>
        </div>
    </div>
    <!-- Add more image items as needed -->
  </div>
  
  <!-- Below line -->
  <hr class="section-line">

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
